body {
    background-color: rgb(123, 5, 132);
}

h1 h2 {
    color: azure;
}

img {
    width: 70%;
    height: 500px;
    margin-left: 200px;
}

a {
    font-size: 25px;
    font-style:initial;
    color: rgb(21, 10, 32);
}
